body{
    margin:auto;
}
#app{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "top top top top"
    "aside main main main"
    ;
}

/* Header */

.header{
    grid-area: top;
    display: flex;
    align-items: center;
    background: content-box rgb(37,41,45);
    
}
.leftside{
    display: flex;
    align-items: center;
    color: white;
    height: 85px;
   
}
.rightside{
    display:flex;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    right: 0px;
    color: white;
    cursor: pointer;
}
.gitlogo{
    margin: 20px;
    font-size: 50px;
    cursor: pointer;
}
.nav{
    font-size: 20px;
    margin: 20px;
    cursor: pointer;
}
.nav:hover, .gitlogo:hover{
    color: grey;
}
.search{
    background: rgb(61,64,67);
    height: 40px;
    width: 375px;
    margin: 0 10px 0 10px;
    padding: 8px;
    border: none;
    color: rgb(98, 114, 122);
    outline: none;
    font-size: 20px;
    transition: all .5s;
    border-radius: 5px;
}
.search:focus{
    background: white;
    color: black;
    width: 625px;
}

.navimg{
    width: 28px;
    height: 28px;
    margin: 10px;
    border-radius: 5px;
}
.bell,.plus{
    font-size: 20px;
    padding: 10px;
}
.caret{
    padding: 0 15px 0 0;
}
.bell:hover,.plus:hover,.caret:hover{
    color: grey;
}
/* Aside */
.logo{
    width: 350px;
    height: 350px;
    border-radius: 4px;
  
}
.aside{
    grid-area: aside;
    margin: 30px 0px 0px 60px;
}
.ep{
    width: 350px;
    height: 40px;
    background: rgb(241,245,247);
    font-size: 20px;
    font-weight: 700;
}
/* Main */
.body{
    grid-area: main;
   
}
.repoflex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.repos{
    display: flex;
    flex-direction: column;
    padding: 30px 0;
    margin:  0 50px 0 0;
    border-bottom: 1px solid lightgrey;
    color: black;
}
.reponame{
    font-size: 25px;
    padding: 15px 0 10px 0;
    margin: 10px 0;
    color: rgb(45, 72, 193);
    font-weight: 700;
    width: 400px;
}
.reponav{
    display: flex;
    margin:  0 50px 0 0;
    border-bottom: 1px solid lightgrey;
}
.mainnav{
    font-size: 19px;
    margin: 20px 10px 0 0;
    padding: 30px 30px 30px 0;
    cursor: pointer;
}
.mainnav:hover{
    border-bottom: 2px solid grey;
}
.mids{
    display: flex;
    align-items: center;
    border-bottom: 1px solid lightgrey;
    margin:  0 50px 0 0;
}
.find{
    width: 850px;
    height: 45px;
    margin: 25px 0;
    font-size: 20px;
    padding: 10px;
    border-radius: 4px;
    border:1px solid lightgrey;
}
.type{
    width: 140px;
    height: 45px;
    font-size: 20px;
    background: rgb(246,248,249) ;
    margin: 0px 10px 0 30px;
}
.typelang{
    width: 170px;
    height: 45px;
    font-size: 20px;
    background: rgb(246,248,249) ;
    margin: 0px 10px 0 10px;
}
.newbook{
    width: 95px;
    height: 45px;
    background: rgb(59,191,67);
    color: white;
    font-size: 20px;
}

.red, .yellow,.purple{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    padding: 0 0 0 20px;
}
.red{
    background: red;
}
.yellow{
    background: yellow;
}
.purple{
    background: purple;
}
.buttonstar{
    display: flex;
    justify-content: flex-end;
}
.star{
    cursor: pointer;
    width: 90px;
    height: 40px;
}